<div class="main-content">
    <%- include(`header`) -%>
    <%- include(`header-partials`) -%>

    <p>Use this site to get your weather.</p>

    <form action="">
        <input type="text" placeholder="Location" name="" id="">
        <button type="submit">Search</button>
    </form>

    <p id="message-1"></p>
    <p id="message-2"></p>
    
</div>

<%- include(`footer-partials`) -%>

<script src="/js/app.js"></script>

<%- include(`footer`) -%>