<div class="main-content">
    <%- include(`header`) -%>
    <%- include(`header-partials`) -%>    

    <img class="portrait" src="/img/riz.jpg" alt="">
</div>


<%- include(`footer-partials`) -%>
<%- include(`footer`) -%>
