<div class="main-content">
    <%- include(`header`) -%>
    <%- include(`header-partials`) -%>    

    <p>This site was created by Rizwan Farooqui. It uses data from openweather.com & darksky.net !</p>
    <img class="portrait" src="/img/riz.jpg" alt="">
</div>


<%- include(`footer-partials`) -%>
<%- include(`footer`) -%>
